/* ==============================
 * BASE
 * ============================== */

 html {
    background: #fff;
    font-family: 'Rubik', helvetica, Arial, sans-serif;
    font-size: 62.5%;
    line-height: $base-line-height;
}

body {
    margin: 0;
    padding: 0;
    color: #72797e;
}
