/* =========================
 * BUTTONS
 * ========================= */
 .btn {
    font-size: 1.3rem;
    background-color: #fff;
    color: $black;

    padding: $pulse;
    margin: 1em 0;

    border:1px solid $grey-4;
    border-radius: 3px;

    text-decoration:none;
    text-transform:uppercase;
    text-align: center;

    cursor:pointer;
    display:flex;
    justify-content: center;
    align-items: center;

    & svg {
      margin-right: 0.5em;
    }

    &.btn--form{
      margin:0;
      border-radius: 0;

    }

    &:hover,
    &:active,
    &:focus {
        text-decoration:none;
        background-color: $grey-4;
        color: $primary-color;
    }
}

.btn--cta{
    color:#fff;
    background-color: $primary-color;
    border-left-width: 0;
    border:none;
    &:hover,
    &:active,
    &:focus {
        text-decoration:none;
        background-color: darken($primary-color, 20);
        border: darken($primary-color, 15);
        color: $white;
    }
}

.btn--warning {
    color:#fff;
    background-color: $secondary-color;
    border:  none;

    &:hover,
    &:active,
    &:focus {
        text-decoration:none;
        background-color: darken($secondary-color, 15);
        border: none;
        color:$white;
    }

}

.btn--submit{
  margin:0;
  width:100%;
  box-shadow: none;
}

.btn--marginbtm{
  margin:  0 0 1.6em;
}
