
.form{
  display:flex;
  flex-direction: column;
}

.input {
  font-size: 1.5rem;
  margin: 1em 0;

  @media screen and (min-width:530px) {
    display:flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
  }
}

.input__label {
  display:block;
  cursor:pointer;
  color:$black;
  padding:.5em 0;
  width:200px;

  &.input__label--checkbox{
    display:inline;
    color:inherit;
    padding:0;
  }
}

.input__row {
  display:flex;

  @media screen and (min-width:530px){
    width: 300px;
  }

  & .input__field{
    flex:1 0 auto;
    padding:.5em;
  }

  box-shadow: 0 0 15px -5px $black;
}

.input__checkbox{
  cursor:pointer;
  margin-right: 5px;

  box-shadow: 0 0 15px -5px $black;
}

.input--cta .input__field{
  border: 1px solid $primary-color;

}

.input--forgot{
  margin:0;
  display:flex;
  align-items: center;
  justify-content: space-between;
}
.profile-pic{
  border-radius:25px;
}
