/*  ------------------------
 * logo
 *--------------------------*/

.logo {
    float: left;
    margin: 2.25em 2.25em 2.25em 0;

    @media screen and (max-width:580px) {
      margin: 2.25em 2.25em 0 0;
    }
 }

 .logo a {
    text-decoration: none;
}
 .logo span {
    font-size: 1.8em;
    font-weight: bold;
    color: $black;
}

.logo em {
    font-style: normal;
    color: $primary-color;
}

.global-footer .logo span {
    color: #fff;
}
