/*------------------------
 * navigation
 *-----------------------*/
.global-nav {
  margin: 1.5em 0 1.5em 0;
  @media screen and (max-width:580px){
    margin: 0.5em 1.5em 1.5em 0;
  }

  padding: 0;
}

.global-nav > li {
     float: left;
     list-style-type: none;
     margin-right: 1.6em;
 }

.global-nav a {
  color: $black;
}

.main-nav {
  color:$primary-color;
  margin: 0 0 2.25em;
  padding: 0 1.5em;
}

.main-nav a{
  color: $primary-color;
}
