.Discussion__title{
  display:flex;

  & h2{
    margin:0 5px 1em 0;
  }
}

.comment__title{
  margin-bottom: 1em;

  font-weight: bold;
  color:$black;

  & em {
    color:$grey-2;
    margin-left:6px;
    font-weight: normal;
  }
}
